
@{
    ViewBag.Title = "cadastrarDisciplina";
}

<h2>Cadastrar</h2>

<form action="@Url.Action("cadastrarDisciplina","Disciplina")" method="post">
    <fieldset>
        <legend>Nova Disciplina</legend>
        @if (!string.IsNullOrEmpty(ViewBag.sucesso))
        {
            <div class="alert alert-success">
                <strong>Sucesso!!</strong> Disciplina cadastrada com sucesso.
        </div>
        }
        <div>
            <label for = "Nome">Nome:</label>
        </div>
        <div>
            <input type = "text" id="Nome" name="Nome"/>
        </div>

        <div>
            <label for="Semestre">Semestre:</label>
        </div>
        <div>
            <input type="text" id="Semestre" name="Semestre"/>
        </div>

        <div>
            <label for="Curso">Curso:</label>
        </div>
        <div>
            <input type="text" id="Curso" name="Curso"/>
        </div>
        <br/>
        <input type="submit" class= "btn btn-success" value="Cadastrar Disciplina" />
    </fieldset>
</form>
